.pagination {
  display: flex;
}
.pagination button {
  display: flex;
  margin-left: 18px;
  height: 25px;
  width: 27px;
  background: #074684;
  border-radius: 5px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  justify-content: center;
  color: #ffffff;
}

.pagination span {
  margin-left: 5px;
}
