.main-page {
  margin-top: 25px;
  margin-left: 170px;
}
.table {
  position: relative;
  max-width: 730px;
}

@media (min-width: 1200px) and (max-width: 1300px) {
  .main-page {
    margin-left: 120px;
  }
}
@media (min-width: 901px) and (max-width: 1199px) {
  .main-page {
    margin-left: 50px;
  }
  .table {
    position: relative;
    max-width: 800px;
    margin-right: 60px;
  }
}
@media (min-width: 700px) and (max-width: 900px) {
  .main-page {
    margin-top: 49px;
    margin-left: 50px;
  }
  .table {
    max-width: 550px;
  }
}
@media screen and (max-width: 699px) {
  .main-page {
    margin-top: 49px;
    margin-left: 40px;
  }
  .table {
    max-width: 550px;
  }
}

.pagination-position {
  float: right;
  margin-top: 20px;
}
