.title-name {
  max-width: 422px;
  height: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 56px;
  align-items: center;

  color: #074684;
}
