.row-card-item {
  cursor: pointer;
  display: flex;
  height: 28px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 38px;
  align-items: center;
  text-align: center;
  color: #000000;
  justify-content: space-between;
}

.row-card:hover {
  cursor: pointer;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    #f8fbfd;
}

.row-card {
  margin-top: 10px;
  max-width: 800px;
  height: 53px;
  background: #f8fbfd;
  border-radius: 5px;
}
.row-card-selected {
  border-radius: 5px;
  margin-top: 10px;
  max-width: 728px;
  height: 53px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    #f8fbfd;
}
.row-card-item-first {
  width: 104px;
  margin-top: 30px;
  margin-left: 30px;
}
.row-card-item-second {
  width: 134px;
  margin-top: 30px;
}
.row-card-item-third {
  width: 100.5px;
  margin-top: 30px;
}
.row-card-item-fourth {
  width: 120px;
  margin-top: 30px;
}
.row-card-item-fifth {
  width: 110px;
  margin-top: 30px;
}

@media (min-width: 451px) and (max-width: 900px) {
  .row-card {
    margin-top: 10px;
    width: 536px;
    height: 28px;
    background: #f8fbfd;
    border-radius: 5px;
  }
  .row-card-selected {
    max-width: 536px;
    height: 28px;
  }
  .row-card-item-first {
    margin-top: 0px;
    margin-left: 30px;
  }
  .row-card-item-second {
    margin-top: 0px;
  }
  .row-card-item-third {
    margin-top: 0px;
  }
  .row-card-item-fourth {
    margin-top: 0px;
  }
  .row-card-item-fifth {
    margin-top: 0px;
  }
}

@media screen and (max-width: 450px) {
  .row-card-item {
    height: 12px;
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
  }

  .row-card {
    max-width: 360px;
    height: 30px;
  }
  .row-card-item-first {
    margin-top: 20px;
    margin-left: 5px;
  }
  .row-card-item-second {
    width: 115px;
    margin-top: 20px;
  }

  .row-card-item-third,
  .row-card-item-fourth,
  .row-card-item-fifth {
    margin-top: 20px;
  }
}
