.header-card-item {
  display: flex;
  height: 42px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 56px;
  align-items: center;
  text-align: center;
  color: #ffffff;
}

.header-card {
  max-width: 1087px;
  height: 79px;
  background: #074684;
  border-radius: 5px;
}

.header-card-item-first {
  width: 155px;
  margin-top: 30px;
  margin-left: 30px;
}
.header-card-item-second {
  width: 200px;
  margin-top: 30px;
}
.header-card-item-third {
  width: 150px;
  margin-top: 30px;
}
.header-card-item-fourth {
  width: 180px;
  margin-top: 30px;
}
.header-card-item-fifth {
  width: 164px;
  margin-top: 30px;
}

.city-sort-logo {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
}

@media screen and (max-width: 900px) {
  .header-card-item-first {
    width: 180px;
    margin-top: 30px;
    margin-left: 30px;
  }
  .header-card {
    width: 800px;
    height: 79px;
    background: #074684;
    border-radius: 5px;
  }
  .header-card-item-second {
    width: 150px;
    margin-top: 30px;
  }
  .header-card-item-fourth {
    width: 150px;
    margin-top: 30px;
  }
}
